<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post">
    {{ form.csrf_token() }}
    {{ form.author.label }}{{ form.author }}<br>
    {{ form.book.label }}{{ form.book }}<br>
    {{ form.submit }}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</form>


<hr>

<ul>
    {% for author in authors  %}

    <li>{{ author.name }}<a href="{{ url_for('delete_author',author_id=author.id) }}">删除</a></li>
    <ul>
        {% for book in author.books %}

            <li>{{ book.name }}<a href="{{ url_for('delete_book',book_id=book.id) }}">删除</a></li>
        {% else %}
            <li>无</li>
        {% endfor %}
    </ul>
    {% endfor %}

</ul>
</body>
</html>